@import 'appFont';

$app-font: "Playfair", sans-serif;
$text-color: rgb(219, 219, 219);
$bg-color: rgb(219, 44, 44);

%color-shared {
    background-color: $bg-color;
    color: $text-color;
}

%position {
    display: inline-block;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @extend %color-shared;
    font-family: $app-font;
    font-size: 60px;
    background-color: #000;
}

#root {
    @extend %color-shared;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    text-align: center;
    width: 100%;
}

button {
    @extend %color-shared;
    @extend %position;
    text-decoration: none;
    font-size: 1em;
    border-style: none;
    cursor: pointer;
    padding: 0 3%;
  }

  button:focus {
    outline-color: rgba(180, 36, 36, 0.356);
  }

  .counter {
    @extend %position;
    min-width: 200px;
    font-size: 1.5em;
    margin: 0 5px;
  }